@font-face {
  font-family: 'font';
  src: url('material/font.ttf') format('truetype');
}

:root {
  --screen-width: 360px;
  --screen-amount: 3;
  --gap-width: 35px;
  --full-body-width: calc(var(--screen-width) * var(--screen-amount) + var(--gap-width) * calc(var(--screen-amount) - 1));
  --topbar-height: 60px;
}

::-webkit-scrollbar { 
  display: none; 
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: var(--full-body-width);
  height: 100vh;
  font-family: "font", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: white;
  overflow: hidden;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  font-family: 'font', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 7em;
}

section {
  height: 100vh;
}

.black {
  background: black;
}

.blue {
  background: blue;
}

.column {
  position: relative;
  width: var(--screen-width);
  margin-top: var(--topbar-height);
  overflow-x: hidden;
  overflow-y: auto;
}

.gap {
  width: var(--gap-width);
  background: red;
}

#topbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--full-body-width);
  height: var(--topbar-height);
  padding: 1em;
  color: black;
  background: white;
  z-index: 100;
}

#topbar-text {
  display: flex;
}

#topbar .ball {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: red;
}